In [1]:
# #dict
# -indexed
# -multiple value and duplicate values 
# -ordered 
# -mutable
#dictionary is used for mapping

In [2]:
#d={<key>:<value>,<key>:<value>}

In [5]:
d={1:"Apple",2:"Ball",3:"Cat",5:"Dog"}
print(d)
print(type(d))

{1: 'Apple', 2: 'Ball', 3: 'Cat', 5: 'Dog'}
<class 'dict'>

In [7]:
d={"a":"Apple","b":"Ball",3:"Cat",5:"Dog"}
print(d["a"])
print(d[5])

Apple
Dog

In [10]:
#aagadi ko length ho
len(d)

4

In [11]:
d={"a":"Apple","b":"Ball","A":"Apple"}
print(d)

{'a': 'Apple', 'b': 'Ball', 'A': 'Apple'}

In [12]:
d={"a":"Apple","b":"Ball","a":"Ant"}
print(d)

{'a': 'Ant', 'b': 'Ball'}

In [14]:
d=dict()#defines empty dictionary
d={}#also defines empty dictionary but we prefer this
d['a']="Apple"
d['b']="Ball"
d['c']="Cat"
d

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [17]:
for i in d:
    print(i)
    print(d.values())

a
dict_values(['Apple', 'Ball', 'Cat'])
b
dict_values(['Apple', 'Ball', 'Cat'])
c
dict_values(['Apple', 'Ball', 'Cat'])

In [19]:
for i in d:
    print(i)

a
b
c

In [20]:
for i in d.values():
    print(i)

Apple
Ball
Cat

In [21]:
for i in d.items():
    print(i)

('a', 'Apple')
('b', 'Ball')
('c', 'Cat')

In [22]:
d=[('a', 'Apple'),('b', 'Ball'),('c', 'Cat')]
dict(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [25]:
#WAP to input phone number and name by using dictionary 
d={}
n=int(input("Enter number of people: "))
for i in range(n):
    a=int(input("Enter number= "))
    b=(input("Enter Name= "))
    d[a]=b
print(d)

Enter number of people: 2
Enter number= 456
Enter Name= har
Enter number= 789
Enter Name= ram
{456: 'har', 789: 'ram'}

In [26]:
# to delete we use del pop

In [28]:
a={456: 'har', 789: 'ram'}
del a[456]
a

{789: 'ram'}

In [30]:
a={456: 'har', 789: 'ram'}
b=a.pop(456)
print(a)
print(b)

{789: 'ram'}
har

In [31]:
#list inside dict
a={"Ram":[9812345678,98512487],
  "Shyam":[787898,456545],
  "Radhe":(4545,8758)}
a

{'Ram': [9812345678, 98512487],
 'Shyam': [787898, 456545],
 'Radhe': (4545, 8758)}

In [32]:
#dictionary inside list
a=[{'Name':'Ram',"Age":23},{'Name':'hari',"Age":83}]
a

[{'Name': 'Ram', 'Age': 23}, {'Name': 'hari', 'Age': 83}]

In [1]:
#dictionary inside tuple
a=({'Name':'Ram',"Age":23},{'Name':'hari',"Age":83})
a

({'Name': 'Ram', 'Age': 23}, {'Name': 'hari', 'Age': 83})

In [32]:
#sort this using dictionary 
#a={'ram':89,'shyam':86,'hari':30}
#for loop ma .values lagayera sort garne 
#alikati list ko concept ni lagauna parxa
a={'ram':89,'shyam':86,'hari':30}
b=list(a.values())
largest[]=b[0]
e=[]
for i in len(b):
    if largest<b[i]:
        largest = b[i]
        e.append(largest)

[89, 86, 30]

TypeError: 'int' object is not iterable

In [6]:
#list inside dict
d={}
n=int(input("Enter the value on n = "))
for i in range(n):
    name=input("Enter name = ")
    ntc= int(input("Enter ntc = "))
    ncell= int(input("Enter ncell = "))
    value=[ntc,ncell]
    key=name
    d[key]=value
print(d)

Enter the value on n = 2
Enter name = Ram
Enter ntc = 9852
Enter ncell = 9804
Enter name = Hari
Enter ntc = 587
Enter ncell = 509
{'Ram': [9852, 9804], 'Hari': [587, 509]}

In [11]:
d={[345,447]:'Ram','Shyam':[567,747]}#dictionary ma mutable data type i.e list hunna
d

TypeError: unhashable type: 'list'

In [10]:
d={(345,441):'Ram','Shyam':(567,148)}
d

{(345, 441): 'Ram', 'Shyam': (567, 148)}

In [15]:
d={'Ram':[12345,6789],'Shyam':[34567,8901]}
d['Ram'][0]=747380
d

{'Ram': [747380, 6789], 'Shyam': [34567, 8901]}

In [19]:
d={'Ram':[12345,6789],'Shyam':[34567,8901]}
del d['Ram'][1]
d

{'Ram': [12345], 'Shyam': [34567, 8901]}