In [ ]:
# b=open(<'<file_name',<'modes>')
# b.close()

In [ ]:
# #syntax
# with open('<file_name'>,'<modes') as f:
#     <operation>

In [ ]:
# r->read
# a->append
# w->write
# x->create

In [ ]:
try:
    b=open('data.txt','x')
    b.close()
except:
    print("Error Occured")

In [ ]:
try:
    b=open('data.txt','r')
    x=b.read()
    print(x)
    print(type(x))
    b.close()
except:
    print("Error Occured")

In [ ]:
print(type(b))

In [ ]:
import math as m
try:
    x=int(input("Enter x = "))
    print(m.pow(x,2))
except:
    print("Enter only int data")

In [ ]:
#open le first ma file banauxa ani balla write garxa
b=open('datas.txt','w')
b.write("Hello world I am Python")
b.close()

In [ ]:
grand_total = 0
n = int(input("Enter n = "))
bill = ""
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    grand_total = grand_total +total
    data = f"{name} {price} {quantity} {total}\n"
    bill = bill +data
    
print(bill)
print(grand_total)

In [ ]:
b=open('datas.txt','w')
b.write("Product,Price,Quantity,Total\n")
b.write(bill)
b.close()

In [ ]:
grand_total = 0
n = int(input("Enter n = "))
bill = ""
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    grand_total = grand_total +total
    data = f"{name},{price},{quantity},{total}\n"
    bill = bill +data
    
print(bill)
print(grand_total)

In [ ]:
#.csv comma separated values cahi excel file banauda use hunxa
b=open('datas.csv','w')
b.write("Product,Price,Quantity,Total\n")
b.write(bill)
b.close()

In [ ]:
file=open('datas.csv','r')
x=file.read()
print(x)
file.close()

In [ ]:
x

In [ ]:
data=x.split('\n')[0:-1]
data

In [ ]:
final_data=[]
for i in data:
    y=i.split(',')
    final_data.append(y)
final_data

In [ ]:
final_data[1]

In [ ]:
product_name=input("Enter product name = ").lower()
for i in final_data:
    if product_name in i[0].lower():
        print(i)

In [ ]:
b=open('datas.csv')
print(b.read())
b.close()

In [ ]:
import pandas as pd
df =pd.read_csv('datas.csv')
df

In [1]:
#WAP to create a csv file for result management system using Create,Read,Update,Delete
precentage=0
data=""
b=open('result.csv','x')
b.write("Name,Physics,Math,English,CS,Nepali,Total,Percentage\n")
c=int(input("Enter the number of student "))
for i in range(c):
    name=input("Enter Name: ")
    s1=float(input("Marks of physics: "))
    s2=float(input("Marks of maths: "))
    s3=float(input("Marks of English: "))
    s4=float(input("Marks of CS: "))
    s5=float(input("Marks of Nepali: "))
    total=s1+s2+s3+s4+s5
    percentage=(total/500)*100
    data=f"{name},{s1},{s2},{s3},{s4},{s5},{total},{percentage}\n"
    b.write(data)
b.close()
file=open('result.csv','r')
print("\n",file.read())
file.close()

Enter the number of student 1
Enter Name: ram
Marks of physics: 45
Marks of maths: 44
Marks of English: 55
Marks of CS: 77
Marks of Nepali: 88

 Name,Physics,Math,English,CS,Nepali,Total,Percentage
ram,45.0,44.0,55.0,77.0,88.0,309.0,61.8

In [1]:
f=open('result.csv','a')
name=input("Enter Name: ")
s1=float(input("Marks of physics: "))
s2=float(input("Marks of maths: "))
s3=float(input("Marks of English: "))
s4=float(input("Marks of CS: "))
s5=float(input("Marks of Nepali: "))
total=s1+s2+s3+s4+s5
percentage=(total/500)*100
data=f"{name},{s1},{s2},{s3},{s4},{s5},{total},{percentage}\n"
f.write(data)
f.close()

Enter Name: Pukar
Marks of physics: 78
Marks of maths: 49
Marks of English: 75
Marks of CS: 95
Marks of Nepali: 80

In [8]:
import pandas as pd
data={'Sn':[1,2,3],'Name':['Ram','Shyam','Sita'],
        'Age':[23,None,42],#data xaina bhane none rakhne empty cahi naxadne 
        'Address':['Kathmandu','Patan','Bhaktapur']}
df=pd.DataFrame(data)
df

   Sn   Name   Age    Address
0   1    Ram  23.0  Kathmandu
1   2  Shyam   NaN      Patan
2   3   Sita  42.0  Bhaktapur

In [9]:
df.to_csv('info.csv')

In [13]:
import csv
fields=[['Name','Age','Address'],['Kamal',28,'Baluwatar'],['Shyam',45,'Bharatpur']]
with open('boooks.csv', 'a') as f:
    x = csv.writer(f)
    for i in fields:
        x.writerow(i)

In [17]:
import csv
with open('boooks.csv') as csvfile:
    reader = csv.DictReader(csvfile)
    for row in reader:
        print(dict(row))

{'Name': 'Kamal', 'Age': '28', 'Address': 'Baluwatar'}
{'Name': 'Shyam', 'Age': '45', 'Address': 'Bharatpur'}

In [18]:
import csv
all_data=[]
with open('boooks.csv') as csvfile:
    reader = csv.DictReader(csvfile)
    for row in reader:
        all_data.append(dict(row))
all_data

[{'Name': 'Kamal', 'Age': '28', 'Address': 'Baluwatar'},
 {'Name': 'Shyam', 'Age': '45', 'Address': 'Bharatpur'}]

In [19]:
import pandas as pd
df1 = pd.DataFrame({'Names': ['Andreas', 'George', 'Steve',
'Sarah', 'Joanna', 'Hanna'],
'Age':[21, 22, 20, 19, 18, 23]})
df2 = pd.DataFrame({'Names': ['Pete', 'Jordan', 'Gustaf',
'Sophie', 'Sally', 'Simone'],
'Age':[22, 21, 19, 19, 29, 21]})
df3 = pd.DataFrame({'Names': ['Ulrich', 'Donald', 'Jon',
'Jessica', 'Elisabeth', 'Diana'],
'Age':[21, 21, 20, 19, 19, 22]})
df = pd.concat([df1, df2, df3])
df.to_csv('boooks.csv')
df

       Names  Age
0    Andreas   21
1     George   22
2      Steve   20
3      Sarah   19
4     Joanna   18
5      Hanna   23
0       Pete   22
1     Jordan   21
2     Gustaf   19
3     Sophie   19
4      Sally   29
5     Simone   21
0     Ulrich   21
1     Donald   21
2        Jon   20
3    Jessica   19
4  Elisabeth   19
5      Diana   22