In [35]:
import mysql.connector as dbs
database = dbs.connect(
    host="localhost",
    user="root",
    password="",
    database="class2pm"
)
db=database.cursor() #yesle database lai hold garera rakhya ho object ho yo

In [36]:
db.execute("SELECT * FROM student")
student=db.fetchall()
for x in phone:
    print(x)

NameError: name 'phone' is not defined

In [39]:
db.execute("SELECT * FROM student WHERE sname = 'Ram'")
student=db.fetchall()
for x in student:
    print(x)

InternalError: Unread result found

In [ ]:
db.execute("SELECT * FROM student WHERE sname = 'Ram' or address ='Kathmandu'")
student=db.fetchall()
for x in student:
    print(x)

In [ ]:
sql= "INSERT INTO student(sid, sname, dob, address, phone) VALUES (2,'Rohan','2005-08-25','lalitpur',9812456)"
db.execute(sql)
database.commit()

In [40]:
#wap to insert data in database taking data from user
import mysql.connector as dbs
database = dbs.connect(
    host="localhost",
    user="root",
    password="",
    database="class2pm"
)
db=database.cursor()
print("Let's Create your Profile")
print("** NOTE: Only Name Can Be Updated **")
def menu():
    print("1. Insert")
    print("2. Update")
    print("3. Delete")
    print("4. View")
menu()
def pinsert():
    nid=int(input('Enter nid ='))
    name=input('Enter name = ')
    phone=int(input('Enter phone = '))
    address=input('Enter Address = ')
    value=(nid,name,phone,address)
    sql="INSERT INTO profile(nid, name, phone, address) VALUES (%s,%s,%s,%s)"
    db.execute(sql,value)
    database.commit()
    print("Thank You")
def pupd():
#     on=input("Enter old name = ")
#     nn=input("Enter Updated Name = ")
#     up=(nn)
    sql="UPDATE profile SET name='pt' WHERE name='kj'"
    db.execute(sql)
    database.commit() 
def dele():
    sql="DELETE FROM profile WHERE phone=85"
    db.execute(sql)
    database.commit()
n=int(input("Enter your Choice: "))
if n==1:
    pinsert()
    ch=input("Do you want any other operations?")
    if ch=='yes':
        menu()
    else: 
        print("Bye") 
elif n==2:
    pupd()

elif n==3:
    dele()
elif n==4:
    db.execute("SELECT * FROM profile")
    profile=db.fetchall()
    for x in profile:
        print(x)

Let's Create your Profile
** NOTE: Only Name Can Be Updated **
1. Insert
2. Update
3. Delete
4. View
Enter your Choice: 4
(2, 'pt', '52', 'kp')
(24, 'l', '8', 'p')
(25, 'l', '5', 'p')